openapi: 3.2.0
info:
  title: JaneShop Products API Definitions
  summary: All the APIs of JaneShop products.
  description: |
    # About Us
    ***JaneBank*** is an open market product selling company. Any website can list our products by using our __APIs__ . Shipping and other logistics will be taken by us. You will get an `affiliate commision`for selling our products.
    # Categories supported
    - Mobiles
       - Apple
       - Samsung
       - OnePlus 
    - Laptops
    - Television
    - Headphones
  termsOfService: www.janebank.com/terms/
  contact: 
    name: JaneBank API support
    url: https://janebank.com/support/
    email: ritujanre78@gmail.com
  license: 
    name: JaneBank license
    url: https://janebank.com/licence/licemse-2.0.html
  version: 0.0.1
servers: 
 - url: https://development.server.com/v1
   description: Development server

  
paths: 
  /categories:
    get:
      summary: A list of categories.
      description: Returns the list of categories supported by JaneShop.
      parameters: 
        - name: categoryId
          in: query
          schema: 
            type: integer
            minimum: 100
            maximum: 1000
          example: 101
      responses:
        "200":
          description: A list of categories.
          content:
            application/json:
              schema: 
                type: array
                items:
                  type: object
                  properties: 
                    categoryId: 
                      type: integer
                    name:
                      type: string
  /categories/{categoryId}:
    get:
      summary: A specific category
      description: Returns a category with the mentioned category type.
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: integer
            minimum: 100
            maximum: 1000
          example: 102
      responses: 
        "200":
          description: A specific category
          content:
            application/json: 
              schema:
                type: object
                properties: 
                  categoryId:
                    type: integer
                  name:
                    type: string
  /products:
    get:
      summary: A list of products.
      description: Returns the list of products supported by JaneShop.
      parameters: 
        - name: categoryId
          in: query
          schema: 
            type: integer
            minimum: 10
            maximum: 100
          example: 11
      responses:
        "200":
          description: A list of products.
          content:
            application/json:
              schema: 
                type: array
                items:
                  type: object
                  properties: 
                    productId: 
                      type: integer
                    name:
                      type: string   
                    price:
                      type: number
                    categoryName:
                      type: string
                    quantity:
                     type: integer
                     minimum: 1
                     description: |
                          ***Quantity*** represents `stock` value when this field is being sent by EazyShop.Where as in the scenarios of consumer sending this feild, it represents `number of product items` inside the order. Consumers are expected to handle the scenario of stopping the end user <u>*when the stock value is 0*</u>
  /products/{productId}:
    get:
      summary: A specific product.
      description: Returns the description of a product specified in the path variable, supported by JaneShop.
      parameters: 
        - name: productId
          in: path
          required: true
          schema: 
            type: integer
            minimum: 10
            maximum: 100
          example: 11
      responses:
        "200":
          description: A specific product.
          content:
            application/json:
              schema: 
                type: object
                properties: 
                  productId: 
                    type: integer
                  name:
                    type: string   
                  price:
                    type: number
                  categoryName:
                    type: string
                  quantity:
                    type: integer
                    minimum: 1
                    description: |
                          ***Quantity*** represents `stock` value when this field is being sent by EazyShop.Where as in the scenarios of consumer sending this feild, it represents `number of product items` inside the order. Consumers are expected to handle the scenario of stopping the end user <u>*when the stock value is 0*</u>
  /orders:
    post:
      summary: Create orders
      description: |
        Post order details to JaneShop for processing and shipping.
      requestBody: 
        content: 
          application/json: 
            schema:
              type: object
              properties:
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      productId:
                        type: integer
                      name:
                        type: string
                      price:
                        type: number
                      categoryName:
                        type: string
                      quantity:
                        type: integer
                        description: |
                          ***Quantity*** represents `stock` value when this field is being sent by EazyShop.Where as in the scenarios of consumer sending this feild, it represents `number of product items` inside the order. Consumers are expected to handle the scenario of stopping the end user <u>*when the stock value is 0*</u>
                address:
                  type: object
                  properties:
                    addressLine:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zipCode:
                      type: string
      responses:
        '201':
          description: Order created successfully.
          content:  
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
    put:
      summary: Update orders
      description: |
        Update order details from JaneShop for processing and shipping.
      requestBody: 
        content: 
          application/json: 
            schema:
              type: object
              properties:
                orderId:
                  type: integer
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      productId:
                        type: integer
                      name:
                        type: string
                      price:
                        type: number
                      categoryName:
                        type: string
                      quantity:
                        type: integer
                        description: |
                          ***Quantity*** represents `stock` value when this field is being sent by EazyShop.Where as in the scenarios of consumer sending this feild, it represents `number of product items` inside the order. Consumers are expected to handle the scenario of stopping the end user <u>*when the stock value is 0*</u>
                address:
                  type: object
                  properties:
                    addressLine:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
                    zipCode:
                      type: string
      responses:
        '200':
          description: Order updated successfully.
    delete:
      summary: Delete order
      description: |
        Delete order details from JaneShop
      parameters: 
        - name: orderId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Order details cancelled successfully.
    get:
      summary: Get Order Details
      description: Get order details from JaneShop
      parameters:
        - name: orderId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Fetch Order details successfully
          content:
            application/json:
              schema: 
                type: object
                properties:
                  orderId:
                    type: integer
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        productId:
                          type: integer
                        name:
                         type: string
                        price:
                          type: number
                        categoryName:
                          type: string
                        quantity:
                          type: integer
                          description: |
                            ***Quantity*** represents `stock` value when this field is being sent by EazyShop.Where as in the scenarios of consumer sending this feild, it represents `number of product items` inside the order. Consumers are expected to handle the scenario of stopping the end user <u>*when the stock value is 0*</u>
                  address:
                    type: object
                    properties:
                      addressLine:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      zipcode:
                        type: string